body{
	background-image: url(winter.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
img{
	width: 400px;
	height: 400px;
	position: absolute;
	bottom :00%;
	top: 0%;
	transition: all 1s;
}
img:hover{
	transform: scale(1.3);
	
}
a{
	color: white;
	font-size: 70px;
	text-decoration: none;
	position: relative;
	bottom: -450px;
	left: 20px;
	cursor: pointer;


font-family: 'Righteous', cursive;
box-shadow: -1px -1px 10px #00C5FF;
	

	}
.parent{
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -200px;
	margin-left: -200px;
}